Repository CosettePet/cosette-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, next lint --fix --file, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "next lint --fix --file",
    "git add"
  ],
  "*.{css,scss,sass}": [
    "stylelint --fix",
    "prettier --write",
    "git add"
  ]
}

ci(project): :ferris_wheel: 配置docker镜像
  .dockerignore
  Dockerfile
  docker-compose.yml
  ecosystem.config.js
  main.css
  next.config.ts
  nginx/Dockerfile
  nginx/default.conf
  package.json
Due: eslint --fix, prettier --write, next lint --fix --file, stylelint --fix

chore(project): :hammer: 重写Dockerfile
  Dockerfile
Due: none

feat(project): :sparkles: 安装配置shadcn/ui
  app/globals.css
  lib/utils.ts
  package-lock.json
  package.json
  tailwind.config.ts
Due: eslint --fix, prettier --write, next lint --fix --file, stylelint --fix

feat(page): :sparkles: 添加账户页面,完成登录/注册页面结构的开发
  app/accounts/layout.tsx
  app/accounts/page.tsx
  components.json
  components/Login/index.tsx
  components/Register/index.tsx
  components/ui/button.tsx
  components/ui/card.tsx
  components/ui/form.tsx
  components/ui/input.tsx
  components/ui/label.tsx
  components/ui/tabs.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, next lint --fix --file

fix(project): :bug: 修复 docker环境下 浏览器访问不到nextjs中静态资源的问题
  app/page.tsx
  nginx/default.conf
Due: eslint --fix, prettier --write, next lint --fix --file

feat(project): :sparkles: 完成主体界面结构的编写
  .eslintrc.json
  .npmrc
  app/(dashboard)/layout.tsx
  app/(dashboard)/overview/layout.tsx
  app/(dashboard)/overview/page.tsx
  app/globals.css
  components/AppHeader/index.tsx
  components/AppSidebar/AppSidebarContent/index.tsx
  components/AppSidebar/AppSidebarHeader/index.tsx
  components/AppSidebar/index.tsx
  components/ui/breadcrumb.tsx
  components/ui/separator.tsx
  components/ui/sheet.tsx
  components/ui/sidebar.tsx
  components/ui/skeleton.tsx
  components/ui/tooltip.tsx
  hooks/use-mobile.tsx
  package-lock.json
  package.json
  tailwind.config.ts
Due: eslint --fix, prettier --write, next lint --fix --file, stylelint --fix

feat(AppHeader): :sparkles: 完成AppHeader右边布局
  components/AppHeader/index.tsx
  components/AppProfile/index.tsx
  components/AppSidebar/index.tsx
  components/ui/avatar.tsx
  components/ui/dropdown-menu.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, next lint --fix --file

feat(accounts): :sparkles: 注册组件重新布局
  components/AppHeader/index.tsx
  components/AppProfile/index.tsx
  components/Register/index.tsx
  components/ui/input-otp.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, next lint --fix --file

fix(project): :bug: 忘记提交package.json了
  package-lock.json
  package.json
Due: none

perf(project): :zap: 优化了docker配置文件
  Dockerfile
  docker-compose.yml
Due: none
